/*Whole page styles*/
body {

  margin: 3%;
  color: white;
  background-color: dimgrey;
}

input {
  color: black;
  margin: 1% 0;
}

img {
  padding: 1% 0 0 0;
}

/*Search and list*/
button.col-xs-6 {
  margin: 1% 0 0 0;
  font-size: 90%;
  background-color: dimgrey;
}

.form {
  padding: 0;
}

.form table,
table.stored {
  border: solid black;
  border-width: 0 1px;
  width: 100%;
  color: white;
  margin: 1% 0% 1% 3%;
}

.panel div{

  color: dimgrey;

}

/*Calendar and Saved items */
.datepicker.datepicker-inline {
  width: 100%;
  color: black;
}


.datepicker table tr td.day {

  color: black;

}

.datepicker table tr td.day:hover {
  background-color: dodgerblue;
}

.datepicker table tr td.today {
  background-color: #FF4900;
}

.left {
  padding: 0 3% 0 1%;
}

.storage div:nth-child(2n),
.form div:nth-child(2n) {
  background-color: darkgrey;
}

.panel-footer {

  color: dimgrey;

}

/*Footer logo*/
footer a {
  position: absolute;
  bottom: 3%;
  right: 3%;
}
